# Пусть не срётся в git
.direnv/
result
result-*

# Пусть срёт только age файлы в git
secrets/agenix/**/*
!secrets/agenix/**/*.age
!secrets/agenix/
!secrets/agenix/secrets.nix
!secrets/agenix/**/

installer-key